header{
    height: 200px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient($color-darkPurple, $color-purple);
}
.header_logo{
    width: 200px;
    margin-left: 25px;
    padding-top: 25px;
    & img{
        width: 100%;
        border: 1px solid $color-redMiddle;
        border-radius: 25px;
        opacity: 0.8;
        box-shadow: 10px 5px 5px $color-redMiddle;
    }
}
