// variables pour les couleurs //
$color-redMiddle: #6d362f;
$color-redDark: #8A362B;
$color-red: #CF5445;
$color-purple: #8B6B95;
$color-darkPurple: #5A0973;
$color-lightPurple: #654a6d;
// variables pour les fonts //
$font-list: 'Poppins';
$font-title: 'Roboto';
$font-txt: 'Montserrat';